.navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    
   
   
    &__navlink {
    


        &--img{
            width:48px;
            padding-bottom: 5px;
        }

        
    }

 

   

    
    
}

